<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item>
              <mat-icon mat-list-icon>kitchen</mat-icon>
              <span mat-line>ELECTRODOMESTICOS</span>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>desktop_windows</mat-icon>
              <span mat-line>TECNOLOGIA</span>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>microwave</mat-icon>
              <span mat-line>ELECTROHOGAR</span>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>checkroom</mat-icon>
              <span mat-line>MODA</span>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>king_bed</mat-icon>
              <span mat-line>MUEBLES</span>
            </a>

          <a mat-list-item>
            <mat-icon mat-list-icon>hotel</mat-icon>
            <span mat-line>DORMITORIO</span>
          </a>
          <a mat-list-item>
            <mat-icon mat-list-icon>sports_soccer</mat-icon>
            <span mat-line>DEPORTES</span>
          </a>
          <a mat-list-item>
            <mat-icon mat-list-icon>sports_soccer</mat-icon>
            <span mat-line>DEPORTES</span>
          </a>
          </mat-nav-list>
  |</mat-sidenav>

    <mat-sidenav-content>
        <ec-toolbar [sidenav]="sidenav"></ec-toolbar>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>


</mat-sidenav-container>
